<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/favicon.png" />
  <title>
    {{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}
  </title>
  <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <header>
    <h1>Michael Shanks</h1>
    <nav>
      <a href="https://github.com/mjashanks">GitHub</a>
      /
      <a href="https://twitter.com/mjashanks">Twitter</a>
      /
      <a href="https://www.linkedin.com/in/michael-shanks-69971b26/">LinkedIn</a>
    </nav>
  </header>
  <main>
    <div>
    {{ block "main" . }}
    {{ end }}
    </div>
  </main>
</body>
</html>