{{ define "title" }}
  Michael Shanks
{{ end }}
{{ define "main" }}
  <p>
    Hi! I'm Michael.</a>
  </p>
  <br/>
  <p>
    Co-founder & CEO of <a href="https://budibase.com">Budibase</a>
  </p>
  <br />
  <br />
  <p>
    michael@budibase.com
  </p>
  {{ range where .Site.RegularPages "Section" "==" "blog" }}
    <article>
      <a href="{{ .Permalink }}">
        <blockquote>
            <h5>{{ .Title }}</h5>
            <small>{{ dateFormat "Jan 2, 2006" .Date }}</small>
        </blockquote>
      </a>
    </article>
  {{ end }}
{{ end }}
